# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: go-project-278
          POSTGRES_PASSWORD: go-project-278
          POSTGRES_DB: go-project-278
        ports:
          - 5432:5432
    env:
      DATABASE_URL: postgres://go-project-278:go-project-278@localhost:5432/go-project-278
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.5'

    # - name: Setup Golang caches
    #   uses: actions/cache@v4
    #   with:
    #     path: |
    #       ~/.cache/go-build
    #       ~/go/pkg/mod
    #     key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum') }}
    #     restore-keys: |
    #       ${{ runner.os }}-golang-
    #   id: setup-golang-caches

    - name: Download Go modules
    #   if: steps.setup-golang-caches.outputs.cache-hit != 'true'
      run: go mod download

    - name: Build
      run: go build -v ./...

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest

    - name: Test
      run: go test -v -coverprofile=coverage.out --race ./...

    - name: Generate HTML coverage report
      run: go tool cover -html=coverage.out -o coverage.html

    - name: Upload HTML coverage report artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-html
        path: coverage.html